{% if _ray_head_node %}
# For head node
RAY_PORT="{{ _ray_head_node_port }}"
RAY_CLIENT_SERVER_PORT="{{ _ray_client_server_port }}"
RAY_DASHBOARD_HOST="{{ _ray_internal_ip }}"
RAY_DASHBOARD_PORT="{{ _ray_dashboard_port }}"
{% endif %}

RAY_LOG_TO_STDERR=1
RAY_BACKEND_LOG_LEVEL=debug
# Which address to connect to the head node:
RAY_ADDRESS="{{ _ray_connect_address  }}"
# Which ip address to bind to internally:
RAY_NODE_IP_ADDRESS="{{ _ray_internal_ip }}"

# User overrides and extras
{{ _ray_env | split(",") | join("\n") }}
