{% if _ray_head_node %}
# For head node
{% if (_ray_head_node_port | length) > 0 %}
RAY_PORT="{{ _ray_head_node_port }}"
{% endif %}
{% if (_ray_client_server_port | length) > 0 %}
RAY_CLIENT_SERVER_PORT="{{ _ray_client_server_port }}"
{% endif %}
{% if (_ray_internal_ip | length) > 0 %}
RAY_DASHBOARD_HOST="{{ _ray_internal_ip }}"
{% endif %}
{% if (_ray_dashboard_port | length) > 0 %}
RAY_DASHBOARD_PORT="{{ _ray_dashboard_port }}"
{% endif %}
{% endif %}

RAY_LOG_TO_STDERR=1
RAY_BACKEND_LOG_LEVEL=debug
{% if (_ray_connect_address | length) > 0 %}
# Which address to connect to the head node:
RAY_ADDRESS="{{ _ray_connect_address  }}"
{% elif (_ray_head_node_port | length) > 0 %}
RAY_PORT="{{ _ray_head_node_port  }}"
{% endif %}
{% if (_ray_internal_ip | length) > 0 %}
# Which ip address to bind to internally:
RAY_NODE_IP_ADDRESS="{{ _ray_internal_ip }}"
{% endif %}

# User overrides and extras
{{ _ray_env | split(",") | join("\n") }}
