[Unit]
Description=Ray
After=network.target

[Service]
Type=simple
User=ray
Environment="{{ ray_env }}"
EnvironmentFile=/etc/ray_env
ExecStart=/bin/sh -c 'export PRIVATE_NETWORK="$(/usr/local/bin/find_private_network.sh)" && {{ _ray_cmd }}'
Restart=always
StandardOutput=file:/var/log/ray/ray-service.log
StandardError=file:/var/log/ray/ray-service.err

[Install]
WantedBy=multi-user.target
