[Unit]
Description=Ray {{ _ray_head_node | ternary('Head Node', 'Worker Node') }}
After=network.target

[Service]
Type=simple
User=ray
EnvironmentFile="{{ _ray_env_file }}"
ExecStart=/usr/local/bin/uv tool run ray start {{ _ray_head_node | ternary('--head', '') }}
Restart=always

[Install]
WantedBy=multi-user.target
