{% if (_ray_head_node_address | length) > 0 %}
{% if not ":" in _ray_head_node_address %}
RAY_ADDRESS="{{ _ray_head_node_address }}:{{ _ray_head_node_port }}"
RAY_DASHBOARD_HOST="{{ _ray_head_node_address }}"
RAY_PORT="{{ _ray_head_node_port }}"
{% else %}
RAY_ADDRESS="{{ _ray_head_node_address }}"
RAY_DASHBOARD_HOST="{{ _ray_head_node_address | split(':') | first }}"
{% endif %}
{% endif %}
RAY_NODE_IP_ADDRESS="{{ find_private_network.stdout }}"
RAY_DASHBOARD_PORT="{{ _ray_dashboard_port }}"
RAY_CLIENT_SERVER_PORT=""
# todo: add storage location

{{ _ray_env | split(",") | join("\n") }}
