#!/bin/sh
export PRIVATE_NETWORK="$(/usr/local/bin/find_private_network.sh)"

{% if _ray_head_node %}
ray start --head --node-ip-address="$PRIVATE_NETWORK" --port=6379 --dashboard-host="$PRIVATE_NETWORK" --dashboard-port=8266 --ray-client-server-port=10001
{% else %}
ray start --address="{{ ray_head_node_address | default('\$RAY_HEAD_NODE_ADDRESS', true) }}" --node-ip-address="$PRIVATE_NETWORK"
{% endif %}